#logincase{
    width: 300px;
    height: auto;
    background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    border-radius: 20px;
    margin: 30px 20px;
    float: right;
    margin-left: 10rem;
    overflow: hidden;
}
#label{
    margin-bottom: 10px;
}
#sub{
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-family: "Gowun Batang", serif;
    font-size: 20px;
    font-style: normal;
    margin-right: 20px;
    margin-bottom: 30px;
}
#join{
    background-image: linear-gradient(to bottom, #ebc0fd 0%, #d9ded8 100%);
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    font-family: "Gowun Batang", serif;
    font-size: 20px;
    font-style: normal;
    margin-right: 15px;
}
#id,#pw{
    width: 200px;
    height: 40px;
    border-radius: 7px;
    margin-bottom: 15px;
    text-align: center;
    border: none;
}
#login{
    text-align: center;
}
.information{
    margin: 0 auto;
}
.join{
    margin-bottom: 30px;
}
.user{
    display: inline-block;
}
#btn{
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
}
#find a{
    cursor: pointer;
    font-family: "Gowun Batang", serif;
    font-size: 15px;
    font-style: normal;
    margin-right: 10px;
    border-radius: 5px;
}
#find a:hover{
	background: #7fffd4;
}
h2{
	margin:10px 0px;
}