@charset "UTF-8";
body{
  background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
  height: 100vh;
  background-size: cover;
}
#case{
  width: 400px;
  height: 350px;
  background-image: linear-gradient(to bottom, #ebc0fd 0%, #d9ded8 100%);
  border-radius: 20px;
  margin: 30px 20px;
  float: left;
}
#free{
  text-align: center;
  background:#a2a4dd;
  color: white;
  font-family: "Gowun Dodum", sans-serif;
  font-style: normal;
  border-radius: 15px;
  padding: 15px;
}
#container{
  float: left;
}
td{
	text-overflow: ellipsis;
	max-width: 400px;
	white-space: nowrap;
	overflow: hidden;
}