@charset "UTF-8";
#my{
    font-size: 30px;
    font-family: "Diphylleia", serif;
    font-style: normal;
    padding-bottom: 40px;
    text-align: center;
}
#main{
    margin-left: 40px;
}
#btn,.btn{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-right: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    background-color: #a2a4dd;
    font-size: 15px;
    font-family: "Gowun Dodum", sans-serif;
    font-style: normal;
}
.btn{
    margin-left: 5rem;
    display :inline-block;
}
#btn-list{
    border-bottom: 6px solid #e6e6fa;
    width: 90%;
    display :inline-flex;
}
checkbox{
    size: 10px;
}
#table{
    margin-left: 5rem;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
th{
    background-color: #fff0f5;
    padding: 13px 5px;
    border-bottom: 1px solid black;
}
td{
    padding: 10px 5px;
}
td:nth-child(2){
    text-align: left;
    cursor: pointer;
}
#page{
    list-style: none;
    text-align: center;
    padding: 0px;
    cursor: pointer;
}
#page li{
    display: inline-block;
    background-color: #dda0dd;
    border-radius: 10px;
    padding: 0.5rem 0.8rem;
}
tr:hover{
    background-color: #9370db;
}
#btn2{
    max-width: 84.3%;
    text-align: right;
}
#btn,.btn a{
	text-decoration: none;
	color:black;
}
button{
		border: none;
  		background-color:transparent;
  		cursor:pointer;
}
#btn3 a{
	text-decoration:none;
	color: black;
}
.searchDiv{
	text-align:center;
	margin-top:2rem;
	position: relative;
}
#search{
	padding: 15px;
	border:none;
	border-radius:10px;
	cursor:pointer;
}
#text{
	width:45%;
	padding: 16px 10px;
	border:none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #e6e6fa;
}
.search{
	padding:14px;
	position: absolute;
	border:none;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	cursor:pointer;
	width:70px;
}
#type{
	border-radius: 10px;
	border: 1px solid black;
}