<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">
	<resultMap type="cProject.movie.vo.BoardVO" id="boardMap">
		<id property="bno" column="bno"/>
		<result property="author" column="author"/>
		<result property="categoryNo" column="category_no"/>
		<result property="notice" column="notice"/>
		<result property="hit" column="hit"/>
		<result property="title" column="title"/>
		<result property="body" column="body"/>
		<result property="deleteFlag" column="delete_flag"/>
		<result property="policeFlag" column="police_flag"/>
		<result property="createDate" column="create_date"/>
		<result property="updateDate" column="update_date"/>
		<result property="deleteDate" column="delete_date"/>
		<result property="fileName" column="file_name"/>
		<result property="filePath" column="file_path"/>
		<result property="star" column="star"/>
		<result property="likeCount" column="like_count"/>
		<result property="likeFlag" column="like_flag"/>
		<result property="nick" column="nick"/>
		<result property="cAuthor" column="c_author"/>
		<collection property="files" ofType="cProject.movie.vo.FileVO">
			<id property="fileNo" column="file_no"/>
			<result property="bno" column="bno"/>
			<result property="fileName" column="file_name"/>
			<result property="filePath" column="file_path"/>
			<result property="fileSize" column="file_size"/>
		</collection>
		<collection property="comments" ofType="cProject.movie.vo.CommentVO">
			<id property="cno" column="cno"/>
			<result property="author" column="author"/>
			<result property="bno" column="bno"/>
			<result property="pCno" column="p_cno"/>
			<result property="cbody" column="cbody"/>
			<result property="deleteFlag" column="delete_flag"/>
			<result property="policeFlag" column="police_flag"/>
			<result property="createDate" column="create_date"/>
			<result property="updateDate" column="update_date"/>
			<result property="deleteDate" column="delete_date"/>
		</collection><collection property="likes" ofType="cProject.movie.vo.LikeVO">
			<id property="likeNo" column="like_no"/>
			<result property="likeUser" column="like_user"/>
			<result property="bno" column="bno"/>
			<result property="likeDate" column="like_date"/>
		</collection>
		<collection property="stars" ofType="cProject.movie.vo.StarVO">
			<id property="starNo" column="star_no"/>
			<result property="author" column="author"/>
			<result property="bno" column="bno"/>
			<result property="star" column="star"/>
		</collection>
		<collection property="Bpolices" ofType="cProject.movie.vo.BpoliceVO">
			<id property="policeNo" column="police_no"/>
			<result property="policeMan" column="police_man"/>
			<result property="bno" column="bno"/>
			<result property="villain" column="villain"/>
			<result property="policeDate" column="police_date"/>
			<result property="policeReason" column="police_reason"/>
			<result property="policeResult" column="police_result"/>
		</collection>
	</resultMap>
	<select id="board" resultMap="boardMap">
		(select * from  board where category_no = 0 and delete_flag = 0 and notice = 1 order by bno desc limit 10) 
		union 
		(select * from  board where category_no = 1 and delete_flag = 0 and notice = 1 order by bno desc limit 10)
		union 
		(select * from  board where category_no = 2 and delete_flag = 0 and notice = 1 order by bno desc limit 10) 
		union 
		(select * from  board where category_no = 3 and delete_flag = 0 and notice = 1 order by bno desc limit 10)
	</select>
	<select id="freelist" resultMap="boardMap">
		select *,(select nick from user where user.id = board.author) as nick from board 
		<where>
			and category_no=0
			and delete_flag=0
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by bno desc
		limit #{offset}, #{limit}
	</select>
	<select id="reviewlist" resultMap="boardMap">
		select *,(select nick from user where user.id = board.author) as nick from board 
	    <where>
	        AND category_no = 1
	        AND delete_flag = 0
	        <if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
	            AND ${searchType} LIKE CONCAT('%', #{keyword}, '%')
	        </if>
	    </where>
	    ORDER BY bno DESC
	    LIMIT #{offset}, #{limit}
	</select>
	<select id="minfolist" resultMap="boardMap">
		select *,(select nick from user where user.id = board.author) as nick from board 
		<where>
			and category_no=2
			and delete_flag=0
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by bno desc
		limit #{offset}, #{limit}
	</select>
	<select id="goodslist" resultMap="boardMap">
		select *,(select nick from user where user.id = board.author) as nick from board 
		<where>
			and category_no=3
			and delete_flag=0
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by bno desc
		limit #{offset}, #{limit}
	</select>
	<select id="count" resultType="int">
		select count(*) from board
		<where>
			<choose>
				<when test="categoryNo==0">
					and category_no=0
					and delete_flag=0
				</when>
				<when test="categoryNo==1">
					and category_no=1
					and delete_flag=0
				</when>
				<when test="categoryNo==2">
					and category_no=2
					and delete_flag=0
				</when>
				<when test="categoryNo==3">
					and category_no=3
					and delete_flag=0
				</when>
			</choose>
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	<insert id="insert" parameterType="cProject.movie.vo.BoardVO" useGeneratedKeys="true" keyProperty="bno">
		insert into board(author, category_no, notice, hit, title, body)
		values(#{author}, ${categoryNo}, ${notice}, 0, #{title}, #{body});
	</insert>
	<select id="findById" parameterType="int"  resultMap="boardMap">
			select board.title ,board.bno, board.author, board.category_no, board.notice, board.hit, board.body, board.delete_flag, board.create_date, 
				   comment.cno, comment.author,  comment.cbody, comment.delete_flag, comment.create_date,
				   (select file_path from file where bno = #{bno}) as file_path,
                   (select file_name from file where bno = #{bno}) as file_name,
				   (select star from star where bno = #{bno}) as star,
				   (select count(*) as like_count from like_no where bno = #{bno} group by bno) as like_count,
				   (select count(*) as like_flag from like_no where like_user=${id} and bno=#{bno}) as like_flag
			from board 
			left join comment on
				board.bno=comment.bno
				and comment.delete_flag != 1
			where board.bno = #{bno}
	</select>
	<select id="modify" parameterType="int"  resultMap="boardMap">
			select * from board where bno = #{bno}
	</select>
	
	<update id="update" parameterType="cProject.movie.vo.BoardVO">
		update board set title = #{title}, body = #{body}, update_date = now() where bno = #{bno}; 
	</update>
	
	<update id="off" parameterType="cProject.movie.vo.BoardVO">
		update board set delete_flag = 1, delete_date = now() where bno = #{bno}; 
	</update>
	
	<select id="myWrite" resultMap="boardMap">
		select * from board
		<where>
			and author = #{author}
			and delete_flag=0
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by bno desc
		limit #{offset}, #{limit}
	</select>
	
	<select id="myWriteCount" resultType="int">
		select count(*) from board
		<where>
			and author = #{author}
			and delete_flag=0
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	
	<update id="myWriteOff" parameterType="cProject.movie.vo.BoardVO">
		update board set delete_flag = 1, delete_date = now() where bno = #{bno};
	</update>
	
	<update id="update_readhit" parameterType="int">
		update board set hit = hit  + 1 where bno = #{bno};
	</update>
	
	<select id="offWrite" resultMap="boardMap">
		select board.bno, board.title, board.create_date, board.body, board.author, bpolice.police_result
		from board left join bpolice on board.bno = bpolice.bno
		<where>
			and board.delete_flag=1
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by board.bno desc
		limit #{offset}, #{limit}
	</select>
	
	<select id="offWriteCount" resultType="int">
		select count(*) from board left join bpolice on board.bno = bpolice.bno
		<where>
			and board.delete_flag=1
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	
	<update id="writeOn" parameterType="cProject.movie.vo.BoardVO">
		update board set delete_flag = 0, delete_date = null where bno = #{bno};
	</update>
	
	<select id="myLike" resultMap="boardMap">
		select like_no.*, board.title, board.create_date, board.hit from like_no left join board on like_no.bno = board.bno
		<where>
			and like_user = #{likeUser}
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by like_no.like_no desc
		limit #{offset}, #{limit}
	</select>
	
	<select id="myLikeCount" resultType="int">
		select count(*) from like_no left join board on like_no.bno = board.bno
		<where>
			and like_no.like_user = #{likeUser}
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	
	<update id="policeWriteOff" parameterType="cProject.movie.vo.BoardVO">
		update board left join bpolice on board.bno = bpolice.bno set 
			board.delete_flag = 1,
			board.delete_date = now(), 
			bpolice.police_result = 1 where board.bno = #{bno}; 
	</update>
</mapper>