<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">
	<resultMap type="cProject.movie.vo.BoardVO" id="boardMap">
		<id property="bno" column="bno"/>
		<result property="author" column="author"/>
		<result property="categoryNo" column="category_no"/>
		<result property="notice" column="notice"/>
		<result property="hit" column="hit"/>
		<result property="title" column="title"/>
		<result property="body" column="body"/>
		<result property="deleteFlag" column="delete_flag"/>
		<result property="policeFlag" column="police_flag"/>
		<result property="createDate" column="create_date"/>
		<result property="updateDate" column="update_date"/>
		<result property="deleteDate" column="delete_date"/>
		<collection property="files" ofType="cProject.movie.vo.FileVO">
			<id property="fileNo" column="file_no"/>
			<result property="bno" column="bno"/>
			<result property="fileName" column="file_name"/>
			<result property="filePath" column="file_path"/>
			<result property="fileSize" column="file_size"/>
		</collection>
	</resultMap>
	<select id="freelist" resultMap="boardMap">
		select * from board 
		<where>
			and category_no=0
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by bno desc
		limit #{offset}, #{limit}
	</select>
	<select id="reviewlist" resultMap="boardMap">
		select * from board
		<where>
			and category_no=1
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by bno desc
		limit #{offset}, #{limit}
	</select>
	<select id="minfolist" resultMap="boardMap">
		select * from board
		<where>
			and category_no=2
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by bno desc
		limit #{offset}, #{limit}
	</select>
	<select id="goodslist" resultMap="boardMap">
		select * from board
		<where>
			and category_no=3
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by bno desc
		limit #{offset}, #{limit}
	</select>
	<select id="count" resultType="int">
		select count(*) from board
		<where>
			<choose>
				<when test="categoryNo==0">
					and category_no=0
				</when>
				<when test="categoryNo==1">
					and category_no=1
				</when>
				<when test="categoryNo==2">
					and category_no=2
				</when>
				<when test="categoryNo==3">
					and category_no=3
				</when>
			</choose>
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	<insert id="insert" parameterType="cProject.movie.vo.BoardVO" useGeneratedKeys="true" keyProperty="bno">
		insert into board(author, category_no, notice, hit, title, body)
		values(#{author}, ${categoryNo}, ${notice}, 0, #{title}, #{body});
	</insert>
	<select id="findById" parameterType="int"  resultMap="boardMap">
			select * from board left join file on 
			board.bno=file.bno where board.bno = #{bno};
	</select>
	<update id="update" parameterType="cProject.movie.vo.BoardVO">
		update board set title = #{title}, body = #{body} where bno = #{bno}; 
	</update>
</mapper>