<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BpoliceMapper">
    <resultMap type="cProject.movie.vo.BpoliceVO" id="bPoliceMap">
        <id property="policeNo" column="police_no"/>
        <result property="policeMan" column="police_man"/>
        <result property="bno" column="bno"/>
        <result property="villain" column="villain"/>
        <result property="policeDate" column="police_date"/>
        <result property="policeReason" column="police_reason"/>
        <result property="policeResult" column="police_result"/>
        <collection property="boards" ofType="cProject.movie.vo.BoardVO">
			<id property="bno" column="bno"/>
			<result property="author" column="author"/>
			<result property="bno" column="bno"/>
			<result property="categoryN0" column="category_no"/>
			<result property="notice" column="notice"/>
			<result property="hit" column="hit"/>
			<result property="title" column="title"/>
			<result property="body" column="body"/>
			<result property="deleteFlag" column="delete_flag"/>
			<result property="policeFlag" column="police_flag"/>
			<result property="createDate" column="create_date"/>
			<result property="updateDate" column="update_date"/>
			<result property="deleteDate" column="delete_date"/>
		</collection>
    </resultMap>

    <insert id="insertbPolice" parameterType="cProject.movie.vo.BpoliceVO">
        INSERT INTO bpolice (police_man, bno, villain ,police_date, police_reason)
        VALUES (#{policeMan}, #{bno}, #{villain}, NOW(), #{policeReason})
    </insert>
    
    <select id="selectPolice" resultMap="bPoliceMap">
    	select bpolice.bno, bpolice.police_reason, board.title, board.delete_flag, board.author, bpolice.police_man from bpolice 
    		left join board on bpolice.bno = board.bno
	    	<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
					and ${searchType} like concat('%',#{keyword},'%')
			</if>
		order by bpolice.bno desc
		limit #{offset}, #{limit}
    </select>
    
    <select id="bpoliceCount" resultType="int">
		select count(*) from bpolice left join board on bpolice.bno = board.bno
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
	</select>
	<select id="myPoliceWrite" resultMap="bPoliceMap">
		select bpolice.bno, bpolice.police_reason, board.title ,bpolice.police_result, board.author from bpolice 
    		left join board on bpolice.bno = board.bno 
		<where>
			and police_man = #{author}
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by bno desc
		limit #{offset}, #{limit}
	</select>
	<select id="myPoliceWriteCount" resultType="int">
		select count(*) from bpolice
		<where>
			and police_man = #{author}
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
</mapper>
