<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BpoliceMapper">
    <resultMap type="cProject.movie.vo.BpoliceVO" id="bPoliceMap">
        <id property="policeNo" column="police_no"/>
        <result property="id" column="id"/>
        <result property="bno" column="bno"/>
        <result property="policeDate" column="police_date"/>
        <result property="policeReason" column="police_reason"/>
        <result property="policeResult" column="police_result"/>
    </resultMap>

    <insert id="insertbPolice" parameterType="cProject.movie.vo.BpoliceVO">
        INSERT INTO bpolice (id, bno, police_date, police_reason, police_result)
        VALUES (#{id}, #{bno}, NOW(), #{policeReason}, 0)
    </insert>
    
    <select id="selectPolice" resultMap="bPoliceMap">
    	select * from bpolice left join board on bpolice.bno = board.bno
	    	<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
					and ${searchType} like concat('%',#{keyword},'%')
			</if>
		order by bpolice.bno desc
		limit #{offset}, #{limit}
    </select>
    
    <select id="bpoliceCount" resultType="int">
		select count(*) from bpolice left join board on bpolice.bno = board.bno
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
	</select>
	
	<update id="policeWriteOff" parameterType="cProject.movie.vo.BpoliceVO">
		update bpolice set police_result = 1 where bno = #{bno};
	</update>
	<select id="myPoliceWrite" resultMap="bPoliceMap">
		select * from bpolice
		<where>
			and id = #{author}
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by bno desc
		limit #{offset}, #{limit}
	</select>
	<select id="myPoliceWriteCount" resultType="int">
		select count(*) from bpolice
		<where>
			and id = #{author}
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
</mapper>
