<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommentMapper">
	<resultMap type="cProject.movie.vo.CommentVO" id="commentMap">
		<id property="cno" column="cno"/>
		<result property="author" column="author"/>
		<result property="bno" column="bno"/>
		<result property="pCno" column="p_cno"/>
		<result property="cbody" column="cbody"/>
		<result property="deleteFlag" column="delete_flag"/>
		<result property="policeFlag" column="police_flag"/>
		<result property="createDate" column="create_date"/>
		<result property="updateDate" column="update_date"/>
		<result property="deleteDate" column="delete_date"/>
		<collection property="Cpolices" ofType="cProject.movie.vo.CpoliceVO">
			<id property="policeNo" column="police_no"/>
			<result property="id" column="id"/>
			<result property="cno" column="cno"/>
			<result property="policeDate" column="police_date"/>
			<result property="policeReason" column="police_reason"/>
			<result property="policeResult" column="police_result"/>
		</collection>
	</resultMap>
	<insert id="insert" parameterType="cProject.movie.vo.CommentVO">
		insert into comment(author, bno, cbody)
		values(#{author}, ${bno}, #{cbody});
	</insert>
	<update id="update"  parameterType="cProject.movie.vo.CommentVO">
			update comment set cbody = #{cbody} ,update_date = now() where cno= #{cno}; 
	</update>
	<update id="off" parameterType="int">
			update comment set delete_flag = 1 ,delete_date = now() where cno = #{cno}; 
	</update>
	<select id="myComment" resultMap="commentMap">
		select * from comment
		<where>
			and author = #{author}
			and delete_flag=0
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by cno desc
		limit #{offset}, #{limit}
	</select>
	<select id="myCommentCount" resultType="int">
		select count(*) from comment
		<where>
			and author = #{author}
			and delete_flag=0
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	<update id="myCommentOff" parameterType="int">
		update comment set delete_flag = 1 , delete_date = now() where cno = #{cno}; 
	</update>
</mapper>