<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CpoliceMapper">
	<resultMap type="cProject.movie.vo.CpoliceVO" id="cPoliceMap">
		<id property="policeNo" column="police_no"/>
		<result property="id" column="id"/>
		<result property="cno" column="cno"/>
		<result property="policeDate" column="police_date"/>
		<result property="policeReason" column="police_reason"/>
		<result property="policeResult" column="police_result"/>
	</resultMap>
	
</mapper>