<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CpoliceMapper">
	<resultMap type="cProject.movie.vo.CpoliceVO" id="cPoliceMap">
		<id property="policeNo" column="police_no"/>
		<result property="policeMan" column="police_man"/>
		<result property="cno" column="cno"/>
		<result property="villain" column="villain"/>
		<result property="policeDate" column="police_date"/>
		<result property="policeReason" column="police_reason"/>
		<result property="policeResult" column="police_result"/>
		<collection property="comments" ofType="cProject.movie.vo.CommentVO">
			<id property="cno" column="cno"/>
			<result property="author" column="author"/>
			<result property="bno" column="bno"/>
			<result property="pCno" column="p_cno"/>
			<result property="cbody" column="cbody"/>
			<result property="deleteFlag" column="delete_flag"/>
			<result property="policeFlag" column="police_flag"/>
			<result property="createDate" column="create_date"/>
			<result property="updateDate" column="update_date"/>
			<result property="deleteDate" column="delete_date"/>
		</collection>
	</resultMap>
	<insert id="insertcPolice" parameterType="cProject.movie.vo.CpoliceVO">
        INSERT INTO cpolice (police_man, cno, villain, police_date, police_reason)
        VALUES (#{policeMan}, #{cno}, #{villain}, NOW(), #{policeReason})
    </insert>
    <select id="myPoliceComment" resultMap="cPoliceMap">
		select cpolice.cno, cpolice.police_reason, cpolice.police_result, comment.cbody, comment.bno, comment.author 
		from cpolice left join comment on cpolice.cno = comment.cno
		<where>
			and police_man = #{author}
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
		order by cno desc
		limit #{offset}, #{limit}
	</select>
	<select id="myPoliceCommentCount" resultType="int">
		select count(*) from cpolice
		<where>
			and police_man = #{author}
			<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
				and ${searchType} like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	<select id="selectPolice" resultMap="cPoliceMap">
    	select cpolice.cno, cpolice.police_reason, comment.bno, comment.cbody, comment.delete_flag, comment.author, cpolice.police_man from 
    		cpolice left join comment on cpolice.cno = comment.cno
	    	<where>
	    		and comment.delete_flag = 0
	    		<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
					and ${searchType} like concat('%',#{keyword},'%')
				</if>
	    	</where>
		order by cpolice.cno desc
		limit #{offset}, #{limit}
    </select>
    
    <select id="cpoliceCount" resultType="int">
		select count(*) from cpolice left join comment on cpolice.cno = comment.cno
			<where>
				<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
					and ${searchType} like concat('%',#{keyword},'%')
				</if>
			</where>
	</select>
</mapper>