<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StarMapper">
	<insert id="insertStar" parameterType="cProject.movie.vo.StarVO">
        INSERT INTO star (author, bno, star)
        VALUES (#{author}, #{bno}, #{star})
    </insert>
</mapper>